<h1>Static#contact</h1>
<p>Find me in app/views/static/contact.html.erb</p>
<p></p>
<p> SI TU ME CHERCHE , MON ADRESSE C'EST :</p>
<ul>
	<li>3 bis allé du tourne en rond</li>
	<li>appartement au volet vert</li>
	<li>38 490 TROPLOINPOURTOI</li>
</ul>
