<h1 class="text-primary">Contact</h1>


<h4> SI TU ME CHERCHE , MON ADRESSE C'EST :</h4>

<ul>
	<li><h5>3 bis allé du tourne en rond</h5></li>
	<li><h5>appartement au volet vert</h5></li>
	<li><h5>38 490 TROPLOINPOURTOI</h5></li>
</ul>

<p> Sinon on a une addresse mail valide<br> thp.sess7.gre@gmail.com</p>