<h1 class="text-primary">Bienvenue sur THE GOSSIP PROJECT</h1>





<% @gossip.each do |i| %>
<div class="card">
  <div class="card-header">
    <p>potin n°<%= i.id %></p>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= i.user.first_name %></h5>
    <p class="card-text"><%= i.title %></p>
    <a href= "gossip/<%= i.id%>" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<% end %>


